*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}


.titulo {
    font-family: 'Arvo', serif;
    font-weight: 700;
    text-align: center;
    padding: 12px;
    color: #E85C0C;
    text-shadow: 0.05cm 0.05cm 0.05cm black;
}

.fondo{
    background-color: #F6AE0C;
}



.menu a{
    font-family: 'Arvo', serif;
    color: #E85C0C;
    font-weight: bold;
    text-shadow: 0.05cm 0.05cm 0.05cm black;
}

.menu a:hover{
    color: #F2B50C;
}