*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}


.titulo {
    font-family: 'Arvo', serif;
    font-weight: 700;
    text-align: center;
    padding: 12px;
    color: #E85C0C;
    text-shadow: 0.05cm 0.05cm 0.05cm black;
}

.fondo{
    background-color: #F6AE0C;
}



.menu a{
    font-family: 'Arvo', serif;
    color: #E85C0C;
    font-weight: bold;
    text-shadow: 0.05cm 0.05cm 0.05cm black;
}

.menu a:hover{
    color: #F2B50C;
}


/*quienes_somos*/

div.frase h3{
    color: rgb(164, 59, 33);
    font-size: 20px;
    font-family:'Roboto', sans-serif;
    font-weight:900;
    font-style:italic;
    text-align:center;
    text-decoration:overline underline;
    text-decoration-color: #f6b00cd2;
    padding: 50px 0px 0px 0px;
}

.barra_separadora{
    width: 900px;
    height: 10px;
    background: #be9420;
    margin: 0px auto;
}

.info_team {
    padding: 30px;
    margin: 100px 500px 0px 0px;
}

div.foto img {
    padding: 20px;
    border-radius: 50px;
    width: 350px;
    height: 400px;
    float: left;
    margin: 0px 10px 0px 350px;
}

h4, h6 {
    float: left;
}

article.info_team p {
    font-size: 20px;
}

article.info_team h4{
    font-size: 32px;
}

article.info_team h6 {
    color: rgba(109, 117, 116, 0.808);
    font-size: 15px;
}


/*preguntas frecuentes*/

div.preg_frecuentes h1{
    margin: 10px 0px 10px 30px;
    font-size: 40px;
    font-style: italic;
}

li strong {
    font-size: 18px;
}
